<div class="container dashboard">
    <div class="stat">
        <div class="row">
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">25</h1>
                    <p class="text-white">Total</p>
                </div>
            </div>
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">10</h1>
                    <p class="text-red">Weak</p> 
                </div>
            </div>
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">9</h1>
                    <p class="text-orange">Reused</p>
                </div>
            </div>
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">6</h1>
                    <p class="text-green">Safe</p>
                </div>
            </div>
        </div>
    </div>

    <div class="secret-tiles mt-5">
        <div class="row">
            <div class="col-4">
                <div class="card bg-dark text-white secret-tile p-3">
                    <div class="row">
                        <div class="col-3">
                            <div class="company-img">
                                <img class="img-fluid" src="https://cdn.freebiesupply.com/logos/large/2x/dribbble-icon-1-logo-png-transparent.png" alt="Dribble icon">
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="company-name">Dribbble</h3>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-warning" href="https://dribbble.com/">
                                Visit
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="secret-content">
                        <div class="secret-username">
                            <h5>Username</h5>
                            <p>dhruvsolanki34@gmail.com</p>
                        </div>
                        <div class="secret-password">
                            <h5>Password</h5>
                            <p class="hideMe">*********</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>