<div class="container dashboard">
    <div class="stat">
        <div class="row">
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">25</h1>
                    <p class="text-white">Total</p>
                </div>
            </div>
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">10</h1>
                    <p class="text-red">Weak</p> 
                </div>
            </div>
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">9</h1>
                    <p class="text-orange">Reused</p>
                </div>
            </div>
            <div class="col-3">
                <div class="stat-tile">
                    <h1 class="text-white">6</h1>
                    <p class="text-green">Safe</p>
                </div>
            </div>
        </div>
    </div>
</div>