<div class="home mx-auto">
    <div class="card bg-dark text-white">
        <div class="home-content p-5">
            <h1 class="p-3">
                Welcome to <span class="text-purple">Secret</span> Guardian
            </h1>
            <ul>
                <li>
                    <h4>Intuitive Password Manager</h4>
                </li>
                <li>
                    <h4>Say Goodbye to Password fuss</h4>
                </li>
                <li>
                    <h4>Keep your data secure</h4>
                </li>
                <li>
                    <h4>Organise your passwords at one place</h4>
                </li>
                <li>
                    <h4>All your Passwords are Encrypted</h4>
                </li>
            </ul>

            <div class="d-flex gap-2 justify-content-center">
                <button type="button" class="btn btn-signup" routerLink="signup">Sign up</button>
                <button type="button" class="btn btn-login" routerLink="login">Log in</button>
            </div>
            
            <hr>
            <div class="mt-3 mb-3 text-center">
                <h5>
                    Created with <span class="text-purple">&hearts;</span> by <span class="fst-italic">
                        <a class="text-purple" href="https://github.com/dhruv-solanki">Dhruv Solanki</a>
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>