<div class="login mx-auto">
    <div class="card bg-dark text-white p-5">
        <h2>Secret Guardian - <span class="small">Login</span></h2>
        <hr>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailInfo">
                <div id="emailInfo" class="form-text">One Email address to rule them all.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordInfo">
                <div id="passwordInfo" class="form-text">Only one Password that you have to remember.</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="showPassword">
                <label for="showPassword" class="form-check-label">Show Password</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success" routerLink="/dashboard">Login</button>
            </div>
        </form>
    </div>
</div>