<div class="signup mx-auto">
    <div class="card bg-dark text-white p-5">
        <h2>Secret Guardian - <span class="small">Sign up</span></h2>
        <hr>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameInfo">
                <div id="nameInfo" class="form-text">You name suggests your personality.</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailInfo">
                <div id="emailInfo" class="form-text">We''ll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Set Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordInfo">
                <div id="passwordInfo" class="form-text">Even this password will be stored in encrypted form.</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="showPassword">
                <label for="showPassword" class="form-check-label">Show Password</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Signup</button>
            </div>
        </form>
    </div>
</div>